@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  padding-inline-start: 0;
}

ul {
  padding-inline-start: 0;
}

#root {
  width: 100%;
  background-color: #120925;
  background-image: url("./assets/background.svg");
  background-attachment: fixed;
  // background-size: 100% 100%;
  height: 100%;
}

.app-wrapper {

}

main {
  min-height: 100vh;
}