.separator-wrapper {
  background-color: #02010e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 500;
  font-size: 24px;
  padding: 10px 300px;
  border-top: 5px solid #1a033f;
  border-bottom: 5px solid #1a033f;
}